.symbolContainer {
  position: relative;
  display: flex;
}

.input {
  border-radius: 0.5rem;
  border: none;
  outline: none;
  position: absolute;
  width: 3rem;
  left: 15%;
  padding-left: 0.2rem;
  z-index: 1;
}

.btn {
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: scale(1.1);
  background-color: rgb(83, 104, 187);
}

.img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}
